.btn-primary {
    background: $color-white;
    border: 2px solid $color-yell;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1rem 4rem;
    color: $color-text;
    font-size: 1.9rem;
    cursor: pointer;

    &:hover {
        background: $color-yell;
        color: $color-white;
        @include slow;

        @include mobile {
            background: rgba($color-text, 0.6);
        }

    }

    
    @include mobile {
        background: $color-yell;
        color: $color-white;
        border: 2px solid $color-white;
    }

}