// Slider
.slider {
    width: 100%;
    background-image: url(../img/bg-snow.jpg);
    
    background-position: left top;
    background-size: cover;
    padding: 10rem 0;

    @include tablet {
        background-image: linear-gradient( rgba(255, 255, 255, 0.6),  rgba(255, 255, 255, 0.2)  ),  url(../img/bg-snow.jpg);
    }

    .content-slider {
        width: 80%;
        margin: 18rem auto;
        text-align: right;

        @include mobile {
            text-align: center;
        }

        h2 {
            color: $color-text;
            text-transform: uppercase;
            line-height: 6.5rem;
            @include font-regular();

            span {
                &.title-mini {
                    @include font-light(); 
                    font-size: 3.3rem;
                    
                    @include mobile {
                        font-size: 2.5rem;
                    }
                }
    
                &.title-maxi {
                    font-size: 13.3rem;
                    @include font-bold();
                    @include mobile {
                        font-size: 10rem;
                    }
                }
    
                &.title-medium {
                    font-size: 8rem;
                    line-height: 2.5rem;
                    @include mobile {
                        font-size: 6rem;
                    }
                }
            }
        
        }

    }
}

// Info
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-yell;

    .img-info {
        width: 33%;
        
        @include mobile {
            display: none;
        }
    }
    .content-info-text {
        width: 60%;
        margin-right: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $color-text;
        @include font-light();

        @include mobile {
            width: 100%;
        }


        .content-info-text-general {
            width: 100%;
            p { 
                font-size: 2rem;
            }
        }

        .content-info-text-text {
            width: 40%;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            
            @include tablet {
                margin-top: 1.5rem;
                width: 100%;
                text-align: left;
            }

            .triangle {
                @include triangle();
                margin-bottom: 0.5rem;
            }
            h3 {
                margin-bottom: 0.5rem;
                font-size: 2rem;
                @include font-regular();
            }
            p { 
                font-size: 1.6rem;
            }
        }
    }
}

// Services
.services-content {
    width: 100%;
    height: 300px;
    background-image: url(../img/bg-services.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 

    @include tablet {
        height: auto;
    }

    .content-block {
        width: 80%;
        margin: auto;
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 8rem 0;

        @include tablet {
            padding: 4rem 0;
        }

        .block {
            background: $color-greylight;
            width: 30%;
            margin: 1rem;
            padding: 2rem;
            text-align: center;

            @include tablet {
                width: 100%;
            }

            h3 {
                margin-bottom: 0.8rem;
                font-size: 2rem;
                @include font-semi();
            }
            p {
                font-size: 1.4rem;
                @include font-light();
            }
        }
    }
}

// Team
.team {

    .team-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .team-member {
            width: 33.33%;
            padding: 2rem 1.5rem;
            text-align: center;

            @include mobile {
                width: 100%;
            }

            h3 {
                text-transform: uppercase;
                font-size: 1.5rem;
                color: $color-blue;
                @include font-light();
                margin-bottom: 2rem;
            }


                img {
                    width: 80%;
                    @include roundedImage;
                    margin-bottom: 2rem;

                    @include mobile {
                        width: 60%;
                    }
                }

                .zoom {
                    -webkit-transition: all 0.5s ease-out;
                    -o-transition: all 0.5s ease-out;
                      transition: all 0.5s ease-out;  
                }
                .zoom:hover {
                        transform: rotate(30deg);
                        -moz-transform: rotate(30deg);      
                        -webkit-transform: rotate(30deg);   
                        -o-transform: rotate(30deg);       
                        -webkit-transition: all 0.5s ease-out;
                        -o-transition: all 0.5s ease-out;
                        transition: all 0.5s ease-out;  
            }

            p{
                font-size: 1.4rem;
                color: $color-text;
                @include font-regular();
            }
            .social-team {
                i {
                    margin: 1.5rem 0.5rem;
                    font-size: 2.5rem;
                    color: $color-blue;
                    cursor: pointer;

                    &:hover {
                        color: $color-yell;
                        @include slow;
                    }
                }
            }
        }
    }

    
}

// Contact
.contact {
    width: 100%;
    background-color: $color-white;
    padding-bottom: 3rem;

    .content-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .content-info {
        margin: 2rem 0;
        padding-left: 20rem;
        width: 55%;
        float: left;
        text-align: center;
        color: $color-text;

        
        @include mobile {
            padding-left: 0;
            margin: 0;
            width: 100%;
        }

        p {
            font-size: 2.5rem;
            @include font-semi();
            margin-bottom: 1.5rem;
        }

        & :last-child {
            margin-bottom: 4rem;
        }

        i {
            font-size: 2.5rem;
        }

        i:last-of-type {
            font-size: 4.5rem;
        }

    }
    .contact-img {
        width: 35%;
        background-image: url(../img/bg-contact.jpg);
        background-position: center;
        background-size: cover;

        @include mobile {
            display: none;
        }
    }

}

// Map
.map {
    height: auto;
}