@import "variables&mixins.scss";
@import "components.scss";

@import "header.scss";
@import "content.scss";
@import "footer.scss";

* {
    padding: 0; margin: 0; font-size: 10px; font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    background: $color-greylight;
}

a { 
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    vertical-align: top;
}

.general-content {
    width: 100%;
}

.active {
    border-bottom: 2px solid $color-white;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 9rem 0 0 0;

    @include tablet {
        padding: 4rem 0 0 0;
    }


    .content-title {
        margin: 2rem auto;
        text-align: center;
        
        .line-title {
            margin: auto;
            padding-bottom: 1rem;
            width: 5%;
            height: 1px;
            border-top: 6px solid $color-yell;

            @include tablet {
                width: 40%;
                border-top: 4px solid $color-yell;
            }

        }

        h1 { 
            color: $color-blue;
            font-size: 4rem;
            @include font-semi();
            margin-bottom: 0.5rem;
        }

        p {
            width: 70%;
            margin: auto;
            color: $color-text;
            font-size: 2rem;
            line-height: 2.5rem;
            @include font-light();
        }
    }

}